[access]
	inheritFrom = All-Projects
[project]
	description = Library to manage interactions with an event bus.\nMoved to READ ONLY, as requested in IT-23579 \n
	state = read only
[access "refs/*"]
	read = group GitHub Replication
	owner = group saml/onap-gerrit-aai-event-client-committers
[plugin "its-jira"]
	enabled = true
