<configuration>
	<property name="logDirectory" value="logs/" />

	<appender name="event-bus-client" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<File>${logDirectory}/application.log</File>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>${logDirectory}/application.log.%d{yyyy-MM-dd}</fileNamePattern>
		</rollingPolicy>
		<encoder>
			<pattern>%d %-5level %logger{36} - %msg%n</pattern>
		</encoder>
	</appender>
	
	<logger name="com.att.eelf" level="INFO" additivity="false">
		<appender-ref ref="event-bus-client"/>
	</logger>
	
	<!-- DEBUG < INFO <  WARN < ERROR -->
	<logger name="event-bus-client" level="INFO" additivity="false">
		<appender-ref ref="event-bus-client"/>
	</logger>
	
	<root level="INFO">
		<appender-ref ref="event-bus-client"/>
	</root>
	
</configuration>